<app-navbar></app-navbar>
<div class="container my-5">
    <div class="container-2A">
        <h1 class="mb-3">Creación de Docentes</h1>
    </div>
        <form class="row g-4" [formGroup]="formDocente" >
            <div class="col-md-3">
                <label for="inputEmail4" class="form-label">Tipo Identificación</label>
                <select class="form-select" formControlName="tipoIdentificacion" id="tipoIdentificacion" [(ngModel)]="docenteDetails.tipoIdentificacion">
                    <option selected></option>
                    <option>CC</option>
                    <option>CE</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="inputPassword4" class="form-label">Identificacion</label>
                <input type="text" class="form-control" formControlName="identificacion" id="identificacion" [(ngModel)]="docenteDetails.identificacion">
            </div>
            <div class="col-md-3">
                <label for="inputAddress" class="form-label">Nombres</label>
                <input type="text" class="form-control"  formControlName="nombres" id="nombres" [(ngModel)]="docenteDetails.nombres">
            </div>
            <div class="col-md-3">
                <label for="inputAddress" class="form-label">Apellidos</label>
                <input type="text" class="form-control" formControlName="apellidos" id="apellidos" [(ngModel)]="docenteDetails.apellidos">
            </div>
            <div class="col-md-3">
                <label for="inputAddress" class="form-label">Correo Electronico</label>
                <input type="text" class="form-control"  formControlName="correoElectronico" id="correoElectronico" [(ngModel)]="docenteDetails.correoElectronico">
            </div>
            <div class="col-md-3">
                <label for="inputAddress" class="form-label">Telefono Celular</label>
                <input type="text" class="form-control"  formControlName="telefonoCelular" id="telefonoCelular" [(ngModel)]="docenteDetails.telefonoCelular">
            </div>
            <div class="col-md-3">
                <label for="inputAddress" class="form-label">Numero Contrato</label>
                <input type="text" class="form-control"  formControlName="numeroContrato" id="numeroContrato"  [(ngModel)]="docenteDetails.numeroContrato">
            </div>
            <div class="col-md-3">
                <label for="inputAddress" class="form-label">Ciudad Residencia</label>
                <input type="text" class="form-control" formControlName="ciudadResidencia" id="ciudadResidencia" [(ngModel)]="docenteDetails.ciudadResidencia">
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Escalafon Técnico</label>
                <select class="form-select" formControlName="escalafonTecnico" id="escalafonTecnico" [(ngModel)]="docenteDetails.escalafonTecnico">
                    <option selected></option>
                    <option>Técnico</option>
                    <option>Tecnólogo</option>
                    <option>Profesional</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputState" class="form-label">Escalafon Técnico</label>
                <select class="form-select" formControlName="escalafonExtension" id="escalafonExtension" [(ngModel)]="docenteDetails.escalafonExtension">
                    <option selected></option>
                    <option>Técnico experiencia inferior 1 año</option>
                    <option>Técnico experiencia superior 1 año</option>
                    <option>Tecnólogo</option>
                    <option>Profesional</option>
                </select>
            </div>
            <!-- <button type="submit" class="btn">guardar</button> -->
            <div class="button-container">
                <button mat-raised-button type="submit" routerLink="/docentes">atras</button>
                <button mat-raised-button type="submit" [disabled]="formDocente.invalid" (click)="updateDocente()">guardar</button>
            </div>
            <!-- <button class="btn">atras</button> -->
            <!-- <div class="container-bottom">
                <button type="submit" class="btn">atras</button>
                <button class="btn">guardar</button>
            </div> -->
        </form>
</div>
<router-outlet></router-outlet>
