.container {
    margin-top: 50px;
}

.container-2A {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 1px; /* Añade un relleno para separar el contenido del borde */
}

.container-2A h1 {
    flex-grow: 1; /* El <h1> ocupará el espacio restante en el contenedor */
    text-transform: uppercase;
    font-size: 20px;
    margin: 0;
    color: #e71d73;
    text-align: center; /* Centra el texto horizontalmente */
    border-bottom: #9b9b9b 1px solid;
    padding: 20px;
}


form label {
    color: #e71d73;
    font-weight: bold;
}

form input {
    border: #858585 1px solid;
}

form select {
    border: #858585 1px solid;
}

.container-bottom{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.container-bottom button{
    display: flex;
    width: 10%;
    justify-content: center;
    text-transform: uppercase;
}
input.ng-invalid.ng-touched {
    border: 1px solid red;
}
select.ng-invalid.ng-touched {
    border: 1px solid red;

}
.button-container {
    text-align: center; /* Centra el contenido horizontalmente */
}
.button-container button {
    width: 150px;
    background: #30b0d5;
    display: inline-block; /* Hace que los botones se muestren uno al lado del otro */
    margin: 10px; /* Espacio entre los botones (ajusta según sea necesario) */
    border: none; /* Quita el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-align: center;
    text-transform: uppercase;
    border-radius: 15px;
    background: #30b0d5;
    color : white;
}


